<ion-content [fullscreen]="true">
  <h3>Álbums</h3>
  <ion-row >
    <ion-col size="6" *ngFor="let albums of listAlbums">
      <ion-card>
        <img src={{albums.caratula}} class="album">
        <p class="titulo">{{albums.titulo}}</p>
      </ion-card>
    </ion-col>
  </ion-row>
  <h3>Recomendaciones</h3>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable="true">
          <ion-segment-button *ngFor="let albums of listRecoms" value={{albums.titulo}}>
            <img src={{albums.caratula}} class="options">
            <p class="options">{{albums.titulo}}</p>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
