h3{
  font-weight: bold;
}

ion-item {
  --ion-item-background: ghostwhite;
  border-radius: 5px;
  ion-icon{
    color: black;
  }
  ion-input{
    margin-left: 10px;
    color: black;
  }
}

.album{
  float: left;
  width: 75px;
}

.titulo{
  margin-left: 80px;
}

.song{
  float: left;
  width: 60px;
}






