<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size=".5"></ion-col>
    <ion-col size="11">
      <h3>Buscar</h3>
      <ion-item class="search" >
        <ion-icon name="search"></ion-icon>
        <ion-input placeholder="Álbums, artistas y canciones" [(ngModel)]="busqueda" (keyup.enter)="search()"></ion-input>
      </ion-item>
      <br>
      <div *ngIf="visible">
        <ion-card *ngFor="let options of listOptions">
          <img src={{options.caratula}} class="album">
          <p class="titulo" style="font-weight: bold; font-size: large; margin-bottom: 0;">{{options.titulo}}</p>
          <p class="titulo" style="font-size: smaller; margin-top: 0;">&nbsp;&nbsp;&nbsp;{{options.autor}}</p>
        </ion-card>
      </div>
      <div *ngIf="visible">
        <ion-card *ngFor="let songs of listSongs">
          <img src={{songs.caratula}} class="song">
          <p class="titulo" style="font-size: medium; margin-bottom: 0;">{{songs.titulo}}</p>
          <p class="titulo" style="font-size: smaller; margin-top: 0;">&nbsp;&nbsp;&nbsp;{{songs.album}}, {{songs.autor}}</p>
        </ion-card>
      </div>
      <p *ngIf="!visible" style="margin-left: 10px;">Sin resultados ...</p>
    </ion-col>
  </ion-row>
</ion-content>
